# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class
ss.py

# Environments
.env
config.env
.env.local
.envrc
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyrogram / Telethon / Telegram sessions
sessions/
*.session

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.pytest_cache/
.tox/
.nox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
*.manifest

# VSCode and JetBrains IDEs
.vscode/
.idea/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# C extensions
*.so

# Others
*.log
*.sqlite3
*.sqlite3-journal
