aiofiles==24.1.0
aiohttp>=3.8
pymongo==4.9.2
TgCrypto==1.2.5
pydantic-settings==2.7.1
pydantic==2.9.2
python-jose==3.4.0
motor==3.6.1
Pyrogram
pyromod==3.1.6
python-dotenv==1.0.1

cloudinary==1.43.0
cloudscraper==1.2.71

hachoir==3.3.0
psutil
ffmpeg-python==0.2.0
colorlog==6.9.0